@import url("tokens.css");

:root {
  --background: var(--color-bg-primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family-primary) var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
