@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap");
@import url("tokens.css");
@import url("reset.css");
@import url("button.css");
@import url("dictionary.css");
@import url("div.css");
@import url("global.css");
@import url("h1.css");
@import url("header.css");
@import url("label.css");
@import url("link.css");
@import url("main.css");
@import url("media.css");
@import url("nav.css");
@import url("paragraph.css");
@import url("post.css");
@import url("section.css");
