@import url("tokens.css");

main {
  margin: 0 auto;
  max-width: 72ch;
  padding-inline: var(--space-4);
  padding-bottom: var(--space-6);
}

main p:not(.page-intro) {
  color: var(--color-text-seondary);
}

main article {
  margin: 0 22%;
}

main article h1,
h2 {
  text-align: center;
}

main article .time {
  text-align: center;
}
